@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

.categories::-webkit-scrollbar {
  background: inherit;
  width: 7px;
  height: 7px;
}

.categories::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.73);
  border-radius: 8px;
}

.abbreviated-paragraph {
  max-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.p {
  text-align: justify;
  margin-bottom: 1rem;
}

.ul {
  list-style-type: disc;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}

.terminal {
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: rgb(243 244 246);
  border-width: 1px;
  border-color: rgb(209 213 219);
  text-align: left;
  white-space: pre-line;
}
